*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML body  */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('/Header/Header-bg.png')no-repeat;
    background-size: cover;
    height: 109vh;
}

.row{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-sm-6 {
    flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 50%;
}

.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


.text-center {
    text-align: center!important;
}


.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.rounded {
    border-radius: .25rem!important;
}

img, svg {
    vertical-align: middle;
}

/* Header container */
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}


/* Images within the container */
.container img{
    position: absolute;
    width: 6.5em;
    height: 100%;
    display:flex;
    top: 0;
    left:0;
   object-fit: contain;
}

/* H2 title content center*/
.container h2{
    z-index: 1;
    top: -200px;
    position: relative;
    color: #fff;
    font-size: 90px;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 32px;
    line-height: 65px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: stretch;
    
}

/* Span text within the H2 */
.container h2 span{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 10px;

}



/* signature */
#signature {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 25%;
    background: url(/Header/sig.png)no-repeat;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-position: center;
    overflow: hidden;
    padding: 15px;
    left: 0;
    top: 50px;
    }


/* Parallax image sprites */

/* Pic of shaun lower left corner */
#l1 {
    position: absolute;
    width: 50%;
    height:50%;
    left: 0px;
    top: 55vh!important;
    object-fit: contain;
    display:block;
    background: url('/Header/ShaunP-1.png')no-repeat;
    background-size: contain;
    }


/* LEFT COLUMN */

/* White small atom element*/
#l-1 {
    position: absolute;
    width: 50px;
    height:50px;
    left: 2.5%;
    top: 3em!important;
    object-fit: contain;
    display:block;
    background: url('/Header/atom-w-s.png')no-repeat;
    background-size: contain;
    
    }

/* Books atom element*/
#l0 {
    position: absolute;
    width: 120px;
    height:120px;
    left: 3%;
    top: 16em!important;
    object-fit: contain;
    display:block;
    background: url('/Header/books.png')no-repeat;
    background-size: contain;
    
    }
/* White big atom element*/
#l2 {
    position: absolute;
    width: 120px;
    height:120px;
    left: 3%;
    top: 5em!important;
    object-fit: contain;
    display:block;
    background: url('/Header/atom-w.png')no-repeat;
    background-size: contain;
    
    }

/*Purple atom small element */
#l3 {
    position: absolute;
    width: 55px;
    height:55px;
    left: 2px;
    top: 25vh!important;
    object-fit: contain;
    display:block;
    background: url('/Header/atom-p-s.png')no-repeat;
    background-size: contain;
    
    }



/* Flask element*/
#l4 {
    position: absolute;
    width: 100px;
    height:100px;
    left: 12%;
    top: 23em!important;
    object-fit: contain;
    display:block;
    background: url('/Header/flask.png')no-repeat;
    background-size: contain;
    
    }


/* Bulb element*/
#l6 {
    position: absolute;
    width: 20%;
    height:20%;
    left: 18%;
    top: 25em!important;
    object-fit: contain;
    display:block;
    background: url('/Header/bulb.png')no-repeat;
    background-size: contain;
    
    }

/* CENTER COLUMN */

/* Bible element*/
#l7 {
    position: absolute;
    width: 83px;
    height:83px;
    left: 27%;
    top: 35em!important;
    object-fit: contain;
    display:block;
    background: url('/Header/bible.png')no-repeat;
    background-size: contain;
    
    }

/* Deep Learning element*/
#l8 {
    position: absolute;
    width: 150px;
    height:150px;
    left: 32%;
    top: 42em!important;
    object-fit: contain;
    display:block;
    background: url('/Header/dl.png')no-repeat;
    background-size: contain;
    
    }


/* Rocket element*/
#l9 {
    position: absolute;
    width: 30vw;
    height:30vh;
    left: 35%;
    top: 78vh!important;
    object-fit: contain;
    display:block;
    background: url('/Header/rocket-s.png')no-repeat;
    background-size: contain;
    
    }



/* Guitar element*/
#l10 {
    position: absolute;
    width: 10vw;
    height:10vh;
    left: 80%;
    top: 80vh!important;
    object-fit: contain;
    display:block;
    background: url('/Header/guitar.png')no-repeat;
    background-size: contain;
    
    }

/* Robot element*/
#l11 {
    position: absolute;
    width: 20vw;
    height:20vh;
    left: 87%;
    top: 7vh!important;
    object-fit: contain;
    display:block;
    background: url('/Header/robot.png')no-repeat;
    background-size: contain;
    
    }



/* Purple Atom element*/
#l12 {
    position: absolute;
    width: 10vw;
    height:10vh;
    left: 90%;
    top: 70vh!important;
    object-fit: contain;
    display:block;
    background: url('/Header/atom-p.png')no-repeat;
    background-size: contain;
    
    }

/* White Atom element*/
#l13 {
    position: absolute;
    width: 10vw;
    height:10vh;
    left: 92%;
    top: 85vh!important;
    object-fit: contain;
    display:block;
    background: url('/Header/atom-w-s.png')no-repeat;
    background-size: contain;
    
    }


/* RIGHT COLUMN */





/* Media query to adapt to smaller screen */
@media (max-width:800px) {
    .container h2{
        z-index: 1;
        position: relative;
        color:#fff;
        font-size: 20px;
        letter-spacing: 19px;
        line-height: 35px;
    }  

    .container h2 span{
        z-index: 1;
        position: relative;
        color:#fff;
        font-size: 20px;
        letter-spacing: 19px;
        line-height: 35px;
    } 

    #l1{
        top:80vh!important;
    }
}
